<.header>
  New Dice
  <:subtitle>Use this form to manage dice records in your database.</:subtitle>
</.header>

<.dice_form changeset={@changeset} action={~p"/dices"} />

<.back navigate={~p"/dices"}>Back to dices</.back>
